
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ------------  ROOT VARIABLES  ------------- */
:root {
    --color-primary: #7380eC;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ======== DARK THEME VARIABLES ============= */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.container-student {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}


.form-and-table-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

.logo h2 {
    font-size: 1.05rem;
}

aside .close {
    display: none;
}



/* ================  SIDEBAR  ============= */

aside .sidebar {
    
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ================ MAIN ============== */

main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .student-registration {
    display: grid;
    grid-template-columns: 1fr;
}

.back-button {
    margin-bottom: 10px;
}


#back-button-to-student {
    cursor: pointer;
    color: var(--color-dark);
    padding: 7px;
    transition: all 150ms ease;
    display: flex;
    border-radius: 50%;
    background: var(--color-background);
}


.student-view-top {
    margin-top: 20px;
    background: orange;
    /* background: var(--color-white); */
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.student-view-top:hover {
    box-shadow: none;
}

.student-view-top h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.icons-course-year-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



.icons-course-year-container span {
    margin-bottom: 3px;
}

#back-button-to-student:hover {
    background: gray;
}
.back-button a:hover {
    text-decoration: none !important;
}

main .student-registration > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .student-registration > div:hover {
    box-shadow: none;
}
main .student-registration .field-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
main .student-registration .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.action-button-container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.edit-profile-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background: var(--color-primary-variant);
    color: white;
    border-radius: var(--border-radius-1);
}

.edit-profile-button h3 {
    font-size: 1rem;
    font-weight: 500;
}

main .student-registration .form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background: transparent;
    color: var(--color-dark);
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
/* End of Form */

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}


main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;

}

main .insights > div.expenses span {
    background: var(--color-danger);
}

main .insights > div.income span {
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}


/* ========== RECENT ORDERS ===========*/

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders-student {
    margin-top: 0;
    position: relative;
}
.add-button-container {
    /* position: absolute;
    top: 85px;
    right: 0px;
    left: 0px; */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    margin-bottom: 10px;
}

.add-button-container form {
   
}

.add-button-container div:nth-child(1) {
    flex: 1;
}

.add-button-container div:nth-child(1) a {
    display: inline-block;
}

.upload-student-csv-container {
    border: 1.5px solid var(--color-primary-variant);
    padding: 15px 20px 5px 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.upload-student-csv-container input[type="file"]::-webkit-file-upload-button{
    display: none;

}

.upload-student-csv-container input[type="file"] {
    width: 120px;
    margin: 0px 10px;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    transition: all 200ms ease;
}

.upload-student-csv-container input[type="file"]:hover {
    color: var(--color-primary);
}

.upload-student-csv-container label[for="input-file"]{
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    transition: all 200ms ease;
}

.upload-student-csv-container label[for="input-file"]:hover {
    color: orange;
}


.upload-student-csv-container form .form-input-file-csv-container {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.upload-student-csv-container form .form-input-file-csv-container .submit-csv-file-button {
    background: none;
    color: var(--color-dark);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.upload-student-csv-container form .form-input-file-csv-container .submit-csv-file-button:hover {
    color: var(--color-success);
}

.label-csv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -10px;
    left: 15px;
    color: var(--color-primary);
    background: var(--color-background);
    padding: 0px 10px;
    border-radius: 20px;
}


#add-new-student {
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    background: var(--color-primary-variant);
    color: white;
    transition: all 150ms ease;
}
#add-new-student:hover {
    background-color: var(--color-primary);
}

#add-new-student:active {
    background-color: var(--color-primary-variant);
}


main .recent-orders h2 {
    margin-bottom: 0.8rem;
}
main .recent-orders-student h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .recent-orders-student table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding-top: 50px !important;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.student-view-profile-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.student-view-profile-img-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 10px 20px;

}
.student-view-profile-img-container img {
    width: 90%;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    padding: 5px;
}

.student-view-profile-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.student-view-profile-info-container .clearance-status-btn-container {
    margin-top: 15px;
}

.student-view-profile-container .student-view-profile-info-container
.student-info-name-container .icon-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.student-view-profile-info-container .clearance-status-btn-container button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 550;
    background: orange;
    color: black;
    border-radius: var(--border-radius-1);
    transition: all 150ms ease;
}

.student-view-profile-info-container .clearance-status-btn-container button:hover {
    background: rgb(255, 213, 0);
    
}

.student-view-profile-info-container h2.label {
    font-weight: 600;
    margin-left: 5px;
}

.student-info-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.student-info-name-container span {
    margin-bottom: 3px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: var(--color-dark) !important;
}

#example_previous,#example_next, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: var(--color-dark) !important;
}

select {
    color: var(--color-dark) !important;
    background: var(--color-white) !important;
}

input[type="search"]{
    color: var(--color-dark) !important;
}

.h2-container {
    position: absolute;
    z-index: 1;
    top: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    /* background-color: var(--color-light); */
    margin-bottom: 5px;
    border-radius: var(--card-border-radius);
    
}

main .recent-orders table:hover {
    box-shadow: none;
}
main .recent-orders-student table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main table tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

main table tbody tr td:last-child button {
    cursor: pointer;
}

main table tbody tr td:last-child .danger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5px;
}


main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
main .recent-orders-student a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.student-id {
    cursor: pointer;
}

main table tbody tr td:last-child input, main table tbody tr td:last-child button {
    background: none;
}

/* ============ RIGHT =========== */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ========= SALES ANALYTICS ========== */

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
}

.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product {
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}

/* =================== MEDIA QUERIES ================= */

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    .container-student {
        width: 94%;
        grid-template-columns: 7rem auto;
        
        padding: 0 10px;
    }
    
    .main-student {
        padding-right: 1rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    .form-and-table-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20px;
    }

    main .recent-orders table {
        width: 83vw;
    }
    .h2-container {
        width: 100% !important;
    }
    main .recent-orders-student table {
        width: 100% !important;
    }

    main table thead tr th:nth-last-child(2),
    main table thead tr th:nth-last-child(2) {
        display: none;
    }

    main table tbody tr td:nth-last-child(2),
    main table tfoot tr th:nth-last-child(2) {
        display: none;
    }
}



@media screen and (max-width: 800px) {

    .student-view-top h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .icons-course-year-container span,.icons-course-year-container h2  {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 607px) {

    .student-view-top h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .icons-course-year-container span,.icons-course-year-container h2  {
        font-size: 1rem;
    }
}

/* =================== MEDIA QUERIES ================= */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .student-view-profile-container {
        grid-template-columns: 1fr;
    }
    .container-student {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .student-view-profile-img-container img {
        width: 40%;
        border-radius: 50%;
    }

    .table-action-container {
        display: flex;
        gap: 10px;
    }

    .h2-container {
        top: 110px;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    .student-view-profile-container .student-view-profile-info-container
    .student-info-name-container .icon-label-container {
        justify-content: center;
    }

    .student-view-profile-info-container .student-info-name-container .icon-label-container .label {
        font-size: 1rem;
        color: var(--color-primary);
    }

    .student-view-profile-info-container .student-info-name-container {
        margin-bottom: 10px;
    }

    #clearance-status-button {
        width: 100%;
        border-radius: 50px;
    }

    .student-view-profile-container .student-view-profile-info-container {
        padding-top: 5px;
    }

    .student-registration .signup form .input-field-container {
        flex-direction: column;
    }

    .student-view-profile-container .student-info-name-container .icon-label-container .removable-span {
        display: none;
    }


    .student-view-profile-container .student-view-profile-info-container .student-info-name-container {
        flex-direction: column;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    .main-student {
        margin-top: 1rem !important;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-orders-student {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    


    main .recent-orders table {
        width: 100%;
        margin: 0;
    }
    main .recent-orders-student table {
        width: 100%;
        margin: 0;
    }

    main table thead tr th:nth-last-child(3),
    main table thead tr th:nth-last-child(4),
    main table thead tr th:nth-last-child(5),
    main table thead tr th:nth-last-child(6) {
        display: none;
    }

    main table tbody tr td:nth-last-child(3),
    main table tbody tr td:nth-last-child(4),
    main table tfoot tr th:nth-last-child(3),
    main table tfoot tr th:nth-last-child(4),
    main table tbody tr td:nth-last-child(5),
    main table tbody tr td:nth-last-child(6),
    main table tfoot tr th:nth-last-child(5),
    main table tfoot tr th:nth-last-child(6) {
        display: none;
    }

    .h2-container {
        width: 100%;
    }
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
    
    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .h2-container {
        top: 185px;
    }
}

@media screen and (max-width: 428px) {
    .h2-container {
        top: 200px;
    }
}

@media screen and (max-width: 640px) {
    .add-button-container {
        top: 115px;
    }
}

@media screen and (max-width: 570px) {
    .add-button-container {
        flex-direction: column;
    }

    .add-button-container .upload-student-csv-container {
        flex: 1;
    }

    .add-button-container #add-new-student {
        width: 100%;
    }

    .add-button-container div:nth-child(1), .add-button-container div:nth-child(2) {
        width: 100%;
    }

    .add-button-container div:nth-child(1) a {
        width: 100%;
    }
}

.input-field-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}



/* ========== MODAL ================ */


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: var(--border-radius-3);
    z-index: 10;
    background-color: var(--color-white);
    width: 400px;
    max-width: 80%;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.update-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: var(--border-radius-3);
    z-index: 20;
    background-color: var(--color-white);
    width: 500px;
    max-width: 80%;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.modal:hover {
    box-shadow: none;
}

.update-modal:hover {
    box-shadow: none;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.update-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.update-modal-container {
    padding: 20px;
    
    
}

.modal-info-container-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}

.modal-info-container-header button {
    background: none;
    margin-right: 10px;
    margin-top: 5px;
    color: var(--color-dark);
    cursor: pointer;
}

.modal-info-container .first-name, .modal-info-container .last-name {
    font-weight: bold;
    font-size: 1.8rem;
}

.modal-info-container .course, .modal-info-container .year {
    font-weight: 600;
    font-size: 1rem;
}

.modal-info-container .email {
    font-weight: 500;
    font-size: 1rem;
}

.modal-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container .name-info {
    margin-bottom: -10px;
}

.modal-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    padding: 5px;
    object-fit: cover;
    object-position: center;

}

    .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}


.modal-container .buttons {
    margin-bottom: 20px;
    gap: 10px;
    margin-top: 20px;
}

.modal-container .buttons button {
    
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-white);
}

.modal-container .buttons .edit-button {
    background-color: #9B26B6;
    padding: 10px 40px;
}

.modal-container .buttons .delete-button {
    background: none;
    border: 1.5px solid #9B26B6;
    color: #9B26B6;
    padding: 8.5px 40px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


#overlay-update {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay-update.active {
    opacity: 1;
    pointer-events: all;
}

.update-modal .update-modal-container .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
